<ul>
      <li><a href="https://cozymaus.github.io/old-blog/art">Art</a></li>
      <li><a href="https://cozymaus.github.io/old-blog/games">Games</a></li>
      <li><a href="https://cozymaus.github.io/old-blog/media">Media</a></li>
      <li><a href="https://cozymaus.github.io/old-blog/money">Money</a></li>
      <li><a href="https://cozymaus.github.io/old-blog/personal">Personal</a></li>
      <li><a href="https://cozymaus.github.io/old-blog/stories">Stories</a></li>
      <li><a href="https://cozymaus.github.io/old-blog/themes">Themes</a></li>
      <li><a href="https://cozymaus.github.io/old-blog/websites">Websites</a></li>
</ul>
