<ul>
      <li><a href="https://cozymaus.github.io/blog/art">Art</a></li>
      <li><a href="https://cozymaus.github.io/blog/games">Games</a></li>
      <li><a href="https://cozymaus.github.io/blog/media">Media</a></li>
      <li><a href="https://cozymaus.github.io/blog/money">Money</a></li>
      <li><a href="https://cozymaus.github.io/blog/personal">Personal</a></li>
      <li><a href="https://cozymaus.github.io/blog/themes">Themes</a></li>
      <li><a href="https://cozymaus.github.io/blog/websites">Websites</a></li>
</ul>
