
            <p style="text-align:left;">
Online since 2005, I have a lot to say about the Internet. I started this blog because one of my creative outlets is writing, and I also wanted my own little spot on the Web where I can share with others the things I have learned in various topics including branding, working online, WordPress development, and more. I also plan on creating videos on these topics and posting my own WordPress themes that people can use for free. Posts and videos on this blog are not sponsored unless otherwise stated in the post or video.
</p>