<div class="widget">
    <div class="widget-title"><h3>About</h3></div>
        <div class="widget-body">
        	<br>
        	<img src="{{ site.url }}/img/me.jpg" class="img-fluid" style="margin: 12%; width: 75%; margin-bottom: 0px; margin-top: 0px;">

        	<p>Hey! I'm <strong>Liz Lorena</strong>. I'm the front-end web developer who made this static blog. My writings on here cover art, programming, and working on the Web, but I no longer regularly update this website. Check out my new <a href="https://cozymaus.wordpress.com" target="_blank">WordPress blog</a> or my <a href="https://lizlorena.com" target="_blank">developer portfolio</a>.</p>

        </div>
</div>
