<div class="widget">
    <div class="widget-title"><h3>About</h3></div>
        <div class="widget-body">
        	<br>
        	<img src="https://cozymaus.com/img/me.jpg" class="img-fluid" style="margin: 12%; width: 75%; margin-bottom: 0px; margin-top: 0px;">

        	<p>Hey! I'm <strong>Liz Lorena</strong>. I'm a May 2019 ITI program graduate from Rutgers University who makes websites and aspires to be a game developer. This is my blog about art, programming, and working on the Web. I have a YouTube channel and also plans for a WordPress theme store and some small games. You can find more information about me <a href="https://cozymaus.com/about">here</a>.

        	<br><br>

        	I started this blog and my YouTube channel because one of my creative outlets is writing, and I wanted my own little spot on the Web where I can share with others the things I have learned in web and game development and my thoughts on other topics. Posts and videos on this blog are not sponsored unless otherwise stated in the post or video. There are no ads on this site, but my YouTube channel may run ads at some point in the future. I'm transparent about my affiliate/referral codes and links. </p>
        </div>
</div>
